// base color
$blue:#324157;
$light-blue:#3A71A8;
$red:#C03639;
$pink: #E65D6E;
$green: #30B08F;
$tiffany: #4AB7BD;
$yellow:#FEC171;
$panGreen: #30B08F;

$tec-bg-color: #092844;
$tec-trans-bg: rgba(9, 40, 68, .9);
$tec-border-color: #0099ff;
$tec-title-color: #4ff6ff;
